In [49]:
import pandas as pd
import numpy as np
import datetime

# CPU_Util_.csv

In [50]:
df = pd.read_csv('CPU_Util_.csv')

df.head()

            Time (GMT)  KPI Value
0  2020-09-16 11:38:00          3
1  2020-09-16 11:39:00          3
2  2020-09-16 11:40:00          3
3  2020-09-16 11:41:00          3
4  2020-09-16 11:42:00          3

In [51]:
df['TimeStamp'] = pd.to_datetime(df['Time (GMT)'])

In [52]:
df['Hr'] = [x. hour for x in df['TimeStamp']]

In [62]:
df.head()

            Time (GMT)  KPI Value           TimeStamp  Hr
0  2020-09-16 11:38:00          3 2020-09-16 11:38:00  11
1  2020-09-16 11:39:00          3 2020-09-16 11:39:00  11
2  2020-09-16 11:40:00          3 2020-09-16 11:40:00  11
3  2020-09-16 11:41:00          3 2020-09-16 11:41:00  11
4  2020-09-16 11:42:00          3 2020-09-16 11:42:00  11

In [54]:
df.groupby('Hr').mean()

    KPI Value
Hr
0    3.100000
1    4.683333
2    4.750000
3    4.733333
4    4.233333
5    4.216667
6    4.366667
7    4.233333
8    3.566667
9    3.150000
10   3.000000
11   3.000000
12   3.116667
13   3.016667
14   3.016667
15   3.016667
16   3.016667
17   3.000000
18   3.016667
19   3.016667
20   3.016667
21   3.016667
22   3.016667
23   3.016667

In [55]:
 df.groupby('Hr').min()

             Time (GMT)  KPI Value           TimeStamp
Hr
0   2020-09-17 00:00:00          3 2020-09-17 00:00:00
1   2020-09-17 01:00:00          3 2020-09-17 01:00:00
2   2020-09-17 02:00:00          3 2020-09-17 02:00:00
3   2020-09-17 03:00:00          3 2020-09-17 03:00:00
4   2020-09-17 04:00:00          3 2020-09-17 04:00:00
5   2020-09-17 05:00:00          3 2020-09-17 05:00:00
6   2020-09-17 06:00:00          3 2020-09-17 06:00:00
7   2020-09-17 07:00:00          3 2020-09-17 07:00:00
8   2020-09-17 08:00:00          3 2020-09-17 08:00:00
9   2020-09-17 09:00:00          3 2020-09-17 09:00:00
10  2020-09-17 10:00:00          3 2020-09-17 10:00:00
11  2020-09-16 11:38:00          3 2020-09-16 11:38:00
12  2020-09-16 12:00:00          3 2020-09-16 12:00:00
13  2020-09-16 13:00:00          3 2020-09-16 13:00:00
14  2020-09-16 14:00:00          3 2020-09-16 14:00:00
15  2020-09-16 15:00:00          3 2020-09-16 15:00:00
16  2020-09-16 16:00:00          3 2020-09-16 16:00:00
17  2020-09-16 17:00:00          2 2020-09-16 17:00:00
18  2020-09-16 18:00:00          3 2020-09-16 18:00:00
19  2020-09-16 19:00:00          3 2020-09-16 19:00:00
20  2020-09-16 20:00:00          3 2020-09-16 20:00:00
21  2020-09-16 21:00:00          3 2020-09-16 21:00:00
22  2020-09-16 22:00:00          3 2020-09-16 22:00:00
23  2020-09-16 23:00:00          3 2020-09-16 23:00:00

In [56]:
df.groupby('Hr').max()

             Time (GMT)  KPI Value           TimeStamp
Hr
0   2020-09-17 00:59:00          4 2020-09-17 00:59:00
1   2020-09-17 01:59:00          5 2020-09-17 01:59:00
2   2020-09-17 02:59:00          6 2020-09-17 02:59:00
3   2020-09-17 03:59:00          5 2020-09-17 03:59:00
4   2020-09-17 04:59:00          5 2020-09-17 04:59:00
5   2020-09-17 05:59:00          5 2020-09-17 05:59:00
6   2020-09-17 06:59:00          5 2020-09-17 06:59:00
7   2020-09-17 07:59:00          5 2020-09-17 07:59:00
8   2020-09-17 08:59:00          5 2020-09-17 08:59:00
9   2020-09-17 09:59:00          5 2020-09-17 09:59:00
10  2020-09-17 10:00:00          3 2020-09-17 10:00:00
11  2020-09-16 11:59:00          3 2020-09-16 11:59:00
12  2020-09-16 12:59:00          4 2020-09-16 12:59:00
13  2020-09-16 13:59:00          4 2020-09-16 13:59:00
14  2020-09-16 14:59:00          4 2020-09-16 14:59:00
15  2020-09-16 15:59:00          4 2020-09-16 15:59:00
16  2020-09-16 16:59:00          4 2020-09-16 16:59:00
17  2020-09-16 17:59:00          4 2020-09-16 17:59:00
18  2020-09-16 18:59:00          4 2020-09-16 18:59:00
19  2020-09-16 19:59:00          4 2020-09-16 19:59:00
20  2020-09-16 20:59:00          4 2020-09-16 20:59:00
21  2020-09-16 21:59:00          4 2020-09-16 21:59:00
22  2020-09-16 22:59:00          4 2020-09-16 22:59:00
23  2020-09-16 23:59:00          4 2020-09-16 23:59:00

# Memory_Util_.csv

In [57]:
df1 = pd.read_csv('Memory_Util_.csv')

df1.head()

            Time (GMT)  KPI Value
0  2020-09-16 11:38:00      40.05
1  2020-09-16 11:39:00      40.05
2  2020-09-16 11:40:00      40.05
3  2020-09-16 11:41:00      40.05
4  2020-09-16 11:42:00      40.05

In [58]:
df1['TimeStamp'] = pd.to_datetime(df1['Time (GMT)'])

In [60]:
df1['Hr'] = [x. hour for x in df1['TimeStamp']]

In [61]:
df1.head()

            Time (GMT)  KPI Value           TimeStamp  Hr
0  2020-09-16 11:38:00      40.05 2020-09-16 11:38:00  11
1  2020-09-16 11:39:00      40.05 2020-09-16 11:39:00  11
2  2020-09-16 11:40:00      40.05 2020-09-16 11:40:00  11
3  2020-09-16 11:41:00      40.05 2020-09-16 11:41:00  11
4  2020-09-16 11:42:00      40.05 2020-09-16 11:42:00  11

In [63]:
df1.groupby('Hr').mean()

    KPI Value
Hr
0   40.077833
1   40.191167
2   40.225000
3   40.220333
4   40.219000
5   40.215667
6   40.229333
7   40.235167
8   40.223500
9   40.233167
10  40.140000
11  40.050000
12  40.050333
13  40.056167
14  40.060000
15  40.060000
16  40.060000
17  40.001500
18  40.006500
19  40.015167
20  40.020000
21  40.020000
22  40.020333
23  40.029833

In [64]:
 df1.groupby('Hr').min()

             Time (GMT)  KPI Value           TimeStamp
Hr
0   2020-09-17 00:00:00      40.03 2020-09-17 00:00:00
1   2020-09-17 01:00:00      40.16 2020-09-17 01:00:00
2   2020-09-17 02:00:00      40.19 2020-09-17 02:00:00
3   2020-09-17 03:00:00      40.20 2020-09-17 03:00:00
4   2020-09-17 04:00:00      40.21 2020-09-17 04:00:00
5   2020-09-17 05:00:00      40.20 2020-09-17 05:00:00
6   2020-09-17 06:00:00      40.21 2020-09-17 06:00:00
7   2020-09-17 07:00:00      40.21 2020-09-17 07:00:00
8   2020-09-17 08:00:00      40.22 2020-09-17 08:00:00
9   2020-09-17 09:00:00      40.13 2020-09-17 09:00:00
10  2020-09-17 10:00:00      40.14 2020-09-17 10:00:00
11  2020-09-16 11:38:00      40.05 2020-09-16 11:38:00
12  2020-09-16 12:00:00      40.05 2020-09-16 12:00:00
13  2020-09-16 13:00:00      40.05 2020-09-16 13:00:00
14  2020-09-16 14:00:00      40.06 2020-09-16 14:00:00
15  2020-09-16 15:00:00      40.06 2020-09-16 15:00:00
16  2020-09-16 16:00:00      40.06 2020-09-16 16:00:00
17  2020-09-16 17:00:00      39.84 2020-09-16 17:00:00
18  2020-09-16 18:00:00      39.99 2020-09-16 18:00:00
19  2020-09-16 19:00:00      40.01 2020-09-16 19:00:00
20  2020-09-16 20:00:00      40.02 2020-09-16 20:00:00
21  2020-09-16 21:00:00      40.02 2020-09-16 21:00:00
22  2020-09-16 22:00:00      40.02 2020-09-16 22:00:00
23  2020-09-16 23:00:00      40.02 2020-09-16 23:00:00

In [65]:
df1.groupby('Hr').max()

             Time (GMT)  KPI Value           TimeStamp
Hr
0   2020-09-17 00:59:00      40.23 2020-09-17 00:59:00
1   2020-09-17 01:59:00      40.35 2020-09-17 01:59:00
2   2020-09-17 02:59:00      40.38 2020-09-17 02:59:00
3   2020-09-17 03:59:00      40.30 2020-09-17 03:59:00
4   2020-09-17 04:59:00      40.22 2020-09-17 04:59:00
5   2020-09-17 05:59:00      40.36 2020-09-17 05:59:00
6   2020-09-17 06:59:00      40.39 2020-09-17 06:59:00
7   2020-09-17 07:59:00      40.39 2020-09-17 07:59:00
8   2020-09-17 08:59:00      40.24 2020-09-17 08:59:00
9   2020-09-17 09:59:00      40.26 2020-09-17 09:59:00
10  2020-09-17 10:00:00      40.14 2020-09-17 10:00:00
11  2020-09-16 11:59:00      40.05 2020-09-16 11:59:00
12  2020-09-16 12:59:00      40.06 2020-09-16 12:59:00
13  2020-09-16 13:59:00      40.06 2020-09-16 13:59:00
14  2020-09-16 14:59:00      40.06 2020-09-16 14:59:00
15  2020-09-16 15:59:00      40.06 2020-09-16 15:59:00
16  2020-09-16 16:59:00      40.06 2020-09-16 16:59:00
17  2020-09-16 17:59:00      40.07 2020-09-16 17:59:00
18  2020-09-16 18:59:00      40.01 2020-09-16 18:59:00
19  2020-09-16 19:59:00      40.02 2020-09-16 19:59:00
20  2020-09-16 20:59:00      40.02 2020-09-16 20:59:00
21  2020-09-16 21:59:00      40.02 2020-09-16 21:59:00
22  2020-09-16 22:59:00      40.03 2020-09-16 22:59:00
23  2020-09-16 23:59:00      40.04 2020-09-16 23:59:00